* ,p,div,span,li,ul,ol,button,form,fieldset,input,textarea,legend{
    padding: 0 0 0 0 ;
    margin: 0 0 0 0 ;
}
.mycontainer{
    width: 100%;
    margin: 100px auto;
    display: flex;
}
.animeInfo{
    width: 320px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
}
.anime-row{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.anime-row .myrow{
    display: inline-flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-evenly;
    margin-left: 20rem;
}
.anime-row .text-heading{
    margin-left: 20rem;
    margin-top: 1rem;
}
.mycard{
    width: 230px;
    height: 300px;
    padding: 0 0 1rem 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.mycard img{
    width: 100%;
    height: 80%;
}
.anime-content{
    padding: 40px 20px;
    margin: 20px 0;
}
.anime-content img{
    width: 150px;
}
.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    padding: 1rem;
    background-color: rgba(212,187,163,0.9);
    text-align: justify;
    opacity: 0;
    transition: 0.5s;
}
.anime-info:hover .overlay{
    opacity: 1;
    height: 100%;
}
.overlay .synopsis{
    height: 60%;
    margin: 0 auto;
    padding: 1rem;
    overflow: auto;
}
.mylist{
    position: absolute;
    bottom: 20px;
    right: 50px;
    padding: 0.5rem;
    background-color: rgb(211,177,145);
    font-size: 1rem;
    font-weight: bold;
}